nav{
    display: block;
    height:20px;
    background-color: rgb(168, 168, 168);
    padding-top:6px;
    border-top:4px solid #111;
    border-bottom: 4px solid #111;
    width:100%;
}

nav  ul{
    display: inline;
    list-style-type: none;
}

nav li{
    display: inline;
    margin:10px;
    padding:1%;
}

nav a:link, nav a:visited {
    font-size:1.2em; 
    font-weight:bold;    
    text-decoration:none;  
    color: white;   
    font-style:normal;   
    }

nav a:hover {
    border-top: 7px solid #111; 
    color: black; 
    font-style: italic; 
    }

header{
    background-image: url(../Images/logo2.png);
    background-repeat: no-repeat;
    background-position-x: center;
    padding-top:160px;
}

section{
    display: flex;
}
.sinistra{
    border-right: 2px solid black;
    flex: 50%;
}
.destra{
    margin-left: 2%;
    flex: 50%;
}
footer{
    display:block ;
    clear:both;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url(../Images/logo.png);
    height:200px;
}


body{
    padding-left: 1px;
    font-family:Helvetica, Arial, Verdana, sans-serif;
    font-size:95%;
    line-height:1.4em; 
}